#button-login {
    -fx-padding: 5;
    -fx-min-height: 35;
    -fx-min-width: 100;
    -fx-font-weight: bold;
    -fx-text-fill: #FFD600;
    -fx-background-color: #005BBC;
    -fx-spacing: 10;
}

#button-login:hover {
    -fx-background-color: #1B7EE8;
}

#login-pane-info-text{
    -fx-text-alignment: center;
}

#start-screen-start-pane {
    -fx-alignment: center;
    -fx-spacing: 20;
}

#start-screen-input-pane{
    -fx-alignment: center;
}

#login-pane{
    -fx-padding: 30;
}

#headline{
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-padding: 10 0 0 10;
}

#demand-buttons-pane{
    -fx-padding: 10;
    -fx-spacing: 10;
}

#standard-button{
    -fx-min-width: 100;
}

#demand-table{
    -fx-padding: 10 0 0 0;
}

#demand-table{
    -fx-max-width: 600;
}
