#demand-buttons-pane{
    -fx-padding: 10;
    -fx-spacing: 10;
}

#demand-table{
    -fx-padding: 10 0 0 0;
    -fx-max-width: 600;
}

#headline{
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-padding: 30 0 0 10;
}

#standard-button{
    -fx-min-width: 100;
}
